@charset "UTF-8";
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #ffd000;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
@media (min-width: 1650px) {
  .wrapper-full .typeheader-25 .container {
    width: 1650px;
    padding: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .wrapper-full .typeheader-25 .container {
    max-width: 1650px;
    padding: 0;
    width: calc(100% - 30px);
  }
}
.typeheader-25 {
  background-color: #292931;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
}
.typeheader-25.navbar-compact .header-middle {
  padding: 10px 0;
}
.typeheader-25.navbar-compact #cart {
  margin-top: 3px;
}
.typeheader-25.navbar-compact .header-bottom {
  padding: 15px 0 0 0;
}
.typeheader-25 .header-top {
  font-size: 12px;
  color: #444444;
  background-color: #fff;
}
.typeheader-25 .header-top .container {
  border-bottom: 1px solid #e9e9e9;
}
.typeheader-25 .header-top .module {
  display: table-cell;
  margin-bottom: 0;
}
.typeheader-25 .header-top .header-top-right {
  text-align: left;
}
.typeheader-25 .header-top .dropdown-menu li {
  line-height: 22px;
}
.typeheader-25 .header-top .header-top-right {
  display: inline-block;
}
.typeheader-25 .header-top .top-log {
  float: right;
}
.typeheader-25 .header-top .top-log > li {
  display: inline-block;
}
.typeheader-25 .header-top .top-log > li > a {
  color: #444;
  text-transform: uppercase;
  line-height: 44px;
}
.typeheader-25 .header-middle {
  clear: both;
  padding: 28px 0;
}
.typeheader-25 .header-middle .middle2 {
  padding-left: 40px;
}
.typeheader-25 .lang-curr {
  float: left;
}
.typeheader-25 .welcome-msg {
  font-size: 12px;
  line-height: 44px;
  float: right;
  margin-left: 35px;
}
.typeheader-25 .wishlist-comp {
  float: left;
  margin-left: 20px;
}
.typeheader-25 .compare, .typeheader-25 .top-link-wishlist {
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  color: #282828;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 40px;
}
.typeheader-25 ul.top-link > li.language .btn-link img {
  margin-top: -3px;
}
.typeheader-25 ul.top-link {
  list-style: none;
  margin: 0;
  vertical-align: top;
  float: left;
  display: inline-flex;
}
.typeheader-25 ul.top-link > li {
  display: inline-block;
  position: relative;
  list-style: outside none none;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 0;
  font-size: 12px;
  line-height: 44px;
}
.typeheader-25 ul.top-link > li.language {
  min-height: 23px;
}
.typeheader-25 ul.top-link > li .btn-group .btn-link {
  padding: 0;
  border: none;
}
.typeheader-25 ul.top-link > li:after {
  background-color: #cbcbcb;
  content: "";
  height: 11px;
  position: absolute;
  right: 0;
  top: 18px;
  width: 1px;
}
.typeheader-25 ul.top-link > li > a {
  font-size: 13px;
  color: #888;
  padding: 0;
}
.typeheader-25 ul.top-link > li i {
  padding: 0 3px;
}
.typeheader-25 ul.top-link > li.account:hover ul.dropdown-link {
  top: 34px;
  z-index: 9999;
  opacity: 1;
  border-top: 1px solid rgba(200, 199, 199, 0.3);
}
.typeheader-25 ul.top-link > li.currency:after {
  display: none;
}
.typeheader-25 .chosen-container-single .chosen-single span {
  font-size: 14px;
  color: #333;
}
.typeheader-25 .chosen-container-single .chosen-single div {
  display: none;
}
.typeheader-25 #sosearchpro .search {
  position: relative;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}
.typeheader-25 #sosearchpro .search .select_category {
  border: none;
  width: 180px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.typeheader-25 #sosearchpro .search .select_category select {
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  padding: 0 15px;
}
.typeheader-25 #sosearchpro .search .select_category select:hover {
  cursor: pointer;
}
.typeheader-25 #sosearchpro .search .select_category.icon-select:after {
  color: #484848;
  font-size: 14px;
  line-height: 40px;
  left: 0;
  right: auto;
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  height: 100%;
  width: 25px;
}
.typeheader-25 #sosearchpro .search button {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  padding: 0 20px;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.typeheader-25 #sosearchpro .search button i {
  font-size: 16px;
  color: #222;
  height: 44px;
  line-height: 44px;
}
.typeheader-25 #sosearchpro .search button span {
  display: none;
}
.typeheader-25 #sosearchpro .search input {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  z-index: 0;
  height: 44px;
  padding-right: 20px;
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.typeheader-25 #sosearchpro .search input::-moz-placeholder {
  color: #333;
  opacity: 1;
}
.typeheader-25 #sosearchpro .search input:-ms-input-placeholder {
  color: #333;
}
.typeheader-25 #sosearchpro .search input::-webkit-input-placeholder {
  color: #333;
}
.typeheader-25 #sosearchpro .search input:focus {
  z-index: 0;
}
.typeheader-25 .shopping_cart {
  float: left;
  position: relative;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  width: 60px;
  height: 44px;
  line-height: 44px;
  float: right;
  text-align: center;
  border-left: 1px solid #dddddd;
  position: relative;
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    width: 44px;
  }
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
  font-size: 16px;
  color: #222222;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .icon-c svg {
  fill: #222222;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: right;
  color: #222;
  margin: 16px 17px 15px 10px;
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    margin: 16px 10px 15px 10px;
  }
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 100%;
  text-transform: capitalize;
  float: right;
  padding-left: 5px;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
  font-size: 12px;
  float: right;
  line-height: 100%;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2 {
  display: none;
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  top: 12px;
  right: 49px;
  font-size: 12px;
  color: #fff;
  background-color: #ff4b58;
}
@media (min-width: 1200px) and (max-width: 1650px) {
  .typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
    right: 32px;
  }
}
.typeheader-25 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
  font-size: 14px;
  font-weight: 500;
  color: #ff4b58;
}
.typeheader-25 .shopping_cart .dropdown-menu {
  top: 100%;
  left: -15px;
  right: auto;
  color: #888;
}
.typeheader-25 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-25 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li {
  margin-left: 1px;
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li.item-special {
  display: block;
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li.item-special > a {
  color: #222;
  padding: 13px 30px;
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li > a {
  line-height: 100%;
  padding: 13px 16px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .typeheader-25 .container-megamenu.horizontal ul.megamenu > li > a {
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-25 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-25 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
  color: #222;
}
.typeheader-25 .container-megamenu.vertical {
  position: relative;
}
.typeheader-25 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
  background-color: transparent;
}
.typeheader-25 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
  color: #222;
  background-color: #ffd000;
  border-radius: 5px;
  padding: 0 10px !important;
  text-shadow: none;
  line-height: 40px;
  font-weight: 600;
  font-size: 14px;
}
.typeheader-25 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
  padding-top: 13px;
  margin-left: 10px;
  float: left;
}
.typeheader-25 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div span {
  background-color: #222;
  width: 12px;
  height: 2px;
  margin: 2px 0;
  /*&:last-child{ display: none; } */
}
@media (min-width: 992px) {
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    width: 100%;
    top: 75px;
  }
  .typeheader-25 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 55px;
  }
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    border: 1px solid #ddd;
  }
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    border-bottom: 1px solid #ddd;
    padding-right: 15px;
  }
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    padding-right: 50px;
  }
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:last-child {
    border: none;
  }
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover > a, .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active > a {
    background-color: #f7f7f7;
    color: #222;
  }
}
@media (min-width: 1200px) and (max-width: 1650px) {
  header.typeheader-25 .col-lg-2 {
    width: 21%;
  }
  header.typeheader-25 .col-lg-8 {
    width: 58%;
  }
  header.typeheader-25 .col-lg-10 {
    width: 79%;
  }
}
/*====================update opencart4===================*/
.typeheader-25 #sosearchpro .search {
  flex-wrap: nowrap;
}
.typeheader-25 #sosearchpro .search input {
  margin: 0;
}
.typeheader-25 #sosearchpro .search .input-group-btn {
  margin: 0;
}
.typeheader-25 ul.top-link > li .btn-group .fa-caret-down:before {
  content: "";
}
.typeheader-25 .dropdown-menu {
  top: 100%;
}
.typeheader-25 .container-megamenu.horizontal ul.megamenu > li.item-special {
  float: left;
}
@media (min-width: 992px) {
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active, .typeheader-25 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    box-shadow: none;
  }
}
@media (min-width: 1200px) and (max-width: 1366px) {
  .typeheader-25 .container-megamenu.vertical .vertical-wrapper {
    width: 120% !important;
  }
}
