/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Button
    [3] Minxin Triangle
    [4] Minxin LABEL PRODUCT
    [5] Minxin Scrollbars
    [6] Minxin Dev Custom
  
==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #c8003e;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  right: 50%;
  transform: translateX(-50%);
  transform: translateX(50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/* ================================================================================ */
/*.footer-container{
  margin-top: 40px;
}*/
@media (min-width: 1650px) {
  .typefooter-21 .container {
    max-width: 1600px;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 1365px) and (max-width: 1650px) {
  .typefooter-21 .container {
    max-width: 1300px;
    width: 100%;
    padding: 0;
  }
}
.common-home .typefooter-21 {
  margin-bottom: 25px;
  padding: 0;
}
.typefooter-21 {
  background-color: #f2f2f2;
  padding: 20px 0;
  /* GENERAL */
  /* FOOTER BOTTOM */
}
.typefooter-21 .footer-main {
  background-color: #fff;
  border-radius: 5px;
}
.typefooter-21 .module .modtitle {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px !important;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 0px;
}
.typefooter-21 .module ul.menu li a {
  border: 0 none;
  padding: 0;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in-out 0s;
  color: #666666;
  font-size: 15px;
}
.typefooter-21 .module ul.menu li a:hover {
  font-style: italic;
}
.typefooter-21 .no-padding {
  padding: 0;
}
.typefooter-21 .footer-middle {
  padding: 40px 35px 35px 22px;
}
@media (min-width: 1200px) {
  .typefooter-21 .footer-middle .col-fright {
    width: 74%;
    padding-right: 50px;
  }
  .typefooter-21 .footer-middle .col-news {
    width: 26%;
  }
}
.typefooter-21 .footer-top {
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  width: 100%;
  padding: 18px 40px;
}
.typefooter-21 .footer-top .findstore {
  font-size: 16px;
  float: right;
  margin-right: 20px;
}
.typefooter-21 .footer-top .findstore a i {
  padding-left: 5px;
}
.typefooter-21 .footer-top .footer-links {
  float: left;
}
.typefooter-21 .footer-top .footer-links ul li {
  display: inline-block;
  margin: 0 17px;
}
.typefooter-21 .footer-top .footer-links ul li a {
  color: #333;
  font-size: 16px;
}
.typefooter-21 .col-socials ul {
  margin-left: 35px;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .typefooter-21 .col-socials ul {
    margin-left: 0px;
  }
}
.typefooter-21 .col-payment a img {
  margin-top: 10px;
}
.typefooter-21 .col-payment h3, .typefooter-21 .col-socials h3 {
  font-size: 15px;
  color: #666;
  font-weight: 400;
}
.typefooter-21 .socials li {
  display: inline-block;
  margin: 0 0 10px 10px;
}
.typefooter-21 .socials li a {
  width: 40px;
  height: 40px;
  background-color: #52555c;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}
.typefooter-21 .newsletter-footer21 .newsletter {
  background-color: transparent !important;
}
.typefooter-21 .newsletter-footer21 .newsletter .title-block .page-heading {
  font-weight: 600;
  font-size: 17px;
  color: #222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup {
  display: block;
  margin-top: 11px;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group {
  position: relative;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group .input-box {
  background-color: #fff;
  vertical-align: top;
  padding-left: 120px;
  border-radius: 0px;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group .subcribe {
  position: absolute;
  top: 0;
  left: 0;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail {
  height: 50px;
  line-height: 50px;
  width: 100%;
  box-shadow: none;
  padding: 0 15px 0 0;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 0;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail:-ms-input-placeholder {
  color: #999;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail::-webkit-input-placeholder {
  color: #999;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .form-group #txtemail:focus {
  z-index: 0;
}
.typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .subcribe button {
  border: 0 none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .typefooter-21 .newsletter-footer21 .newsletter .block_content form.signup .subcribe button {
    padding: 0 22px;
  }
}
.typefooter-21 .row-bottom {
  clear: both;
  margin: 0;
  border-top: 1px solid #e1e1e1;
  padding: 15px;
}
.typefooter-21 .footer-bottom {
  width: 50%;
  position: relative;
  top: -68px;
  height: 0;
}
@media (min-width: 1200px) {
  .typefooter-21 .footer-bottom {
    margin: 0 auto;
    text-align: center;
  }
}
.typefooter-21 .footer-bottom .copyright {
  color: #6e6e6e;
  font-size: 14px;
  padding: 24px 15px;
}
