.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_bxje{background-color:rgba(255,13,13,1); overflow:hidden;}.col_bxje .so-desc,.col_bxje p,.col_bxje span,.col_bxje div{color:#961010}.col_bxje .so-link,.col_bxje h1 a,.col_bxje h2 a,.col_bxje h3 a,.col_bxje h4 a,.col_bxje h5 a,.col_bxje h6 a,.col_bxje a{color:#c88888}.col_bxje .so-link:hover,.col_bxje h1 a:hover,.col_bxje h2 a:hover,.col_bxje h3 a:hover,.col_bxje h4 a:hover,.col_bxje h5 a:hover,.col_bxje h6 a:hover,.col_bxje a:hover{color:#ffdbdb}
.col_bxje .so-heading,.col_bxje h1,.col_bxje h2,.col_bxje h3,.col_bxje h4,.col_bxje h5,.col_bxje h6{color:#d8da96}

.row_vu4b{background-color:rgba(245,245,245,1); overflow:hidden;}

.row_74hp{background-color:rgba(247,247,247,1); overflow:hidden;}

